body {
    width: 600px;
    margin: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#heading {
    background-color: beige;
    padding: 20px;
    margin: 10px 0px;
    color: rgb(159, 130, 91);
    border-radius: 5px;
    text-align: center;
}

#image {
    background-image: url("images/husky.jpg");
    width: 300px;
    height: 300px;
    box-sizing: border-box;
    background-size: 270px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: 1px solid black;
    border-bottom-width: 2px;
    margin: 0 auto;
}

main {
    border: solid lightgrey;
    border-width: 1px 0px;
}

main h3 {
    font-size: 22px;
    text-align: center;
}

footer {
    text-align: center;
    padding: 20px;
}


