body {
    text-align: center;
    width: 600px;
    margin: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#heading {
    background-color: beige;
    padding: 20px;
    margin: 10px 0px;
    color: rgb(159, 130, 91);
    border-radius: 5px;
}

#image {
    background-image: url("images/husky.jpg");
    width: 300px;
    height: 300px;
    box-sizing: border-box;
    background-size: 270px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: 1px solid black;
    margin: 0 auto;

}




